/*==========================================================================================================================================================*/

/* !-----  COMMON VARIABLE */

/*==========================================================================================================================================================*/

/*==========================================================================================================================================================*/

/* !-----  COMMON MIXIN */

/*==========================================================================================================================================================*/
@mixin ar-absolute-xy($left, $top) {
    position: absolute;
    left: $left + px;
    top: $top + px;
}
@mixin ar-center-box($width, $height) {
    position: absolute;
    left: 50%;
    top: 50%;
    width: $width + px;
    height: $height + px;
    margin-left: -$width / 2 + px;
    margin-top: -$height / 2 + px;
}
@mixin ar-full-bg($url) {
    background: url($url) no-repeat center center fixed;
    background-size: cover;
}
@mixin ar-full-size() {
    width: 100%;
    height: 100%;
}
@mixin ar-box-shadow() {
    -webkit-box-shadow: 17px 17px 44px -5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 17px 17px 44px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 17px 17px 44px -5px rgba(0, 0, 0, 0.3);
}
@mixin ar-border-radius($top-left, $top-right, $bot-right, $bot-left) {
    -webkit-border-radius: $top-left+px $top-right+px $bot-right+px $bot-left+px; 
    -moz-border-radius: $top-left+px $top-right+px $bot-right+px $bot-left+px; 
    border-radius: $top-left+px $top-right+px $bot-right+px $bot-left+px; 
}
@mixin ar-mask() {
    -webkit-mask-image: -webkit-radial-gradient(circle, #ffffff 100%, #000000 100%); 
    // -webkit-transform: rotate(0.000001deg); 
}
@mixin ar-transparent-bt($alpha) {
    background: #ffffff;
    opacity: $alpha;
    filter: alpha(opacity=$alpha);
}
@mixin ar-color-opacity($color, $alpha) {
    background: $color;
    opacity: $alpha;
    filter: alpha(opacity=$alpha * 100);
}

* {
    width: 100%;
    height: 100%;
}
